@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="..\css\Estilo.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>Hand Crank</title>
</head>

<body class="Body_Recursos">
    <header>
        <div class="Header"></div>
    </header>
    <div class="div_Painel">
        <nav>
            <ul>
                <a href="C:\xampp\htdocs\Projeto\entities\Views\Home\Index.cshtml"><img class="Img2" src="C:\xampp\htdocs\Projeto\entities\Views\imagens\img2.PNG" alt="Descrição da Imagem"></a>
                <tr><img class="Img2" src="C:\xampp\htdocs\Projeto\entities\Views\imagens\img2.PNG" alt="Descrição da Imagem" class="main_img2"></tr>
                <tr><a class="Painel" href="C:\xampp\htdocs\Projeto\entities\Views\Forum\Plataforma.cshtml">Plataforma</a></tr>
                <tr><a class="Painel" href="C:\xampp\htdocs\Projeto\entities\Views\Forum\Solucao.cshtml">Solução</a></tr>
                <tr><a class="Painel" href="C:\xampp\htdocs\Projeto\entities\Views\Forum\Index.cshtml">Recursos</a></tr>
                <tr><a class="Painel" href="C:\xampp\htdocs\Projeto\entities\Views\Forum\Empresa.cshtml">Empresa</a></tr>
                <tr><img class="Search" src="C:\xampp\htdocs\Projeto\entities\Views\imagens\search.svg" alt="Search"> </tr> 
                <label class="Label" for="pesquisa"> <input type="text" placeholder="pesquisa" name="pesquisa" required></label>
            </ul>
        </nav>
    </div>
    <h1 class="Forum">Fórum</h1>
    <div class="container">
        <div class="Div_NovoTopico1-left">
            <div class="Div_NovoTopico-left">
                <h2 class="NovoTopico-left">Inserir Novo Tópico</h2>

            </div>

            <form id="forumForm">
                <label class="Titulo" for="titulo">Título:</label>
                <input class="Label_Titulo" type="text" id="titulo" name="titulo"><br><br>
                <label class="Conteudo" for="conteudo">Conteúdo:</label><br>
                <textarea class="Label_Conteudo" id="conteudo" name="conteudo"></textarea>
                <button class="Botao_Publicar" id="publicar" type="submit">Publicar</button>
                <br>
                <br>
            </form>
        </div>

        <div class="Div_Topico1-right">
            <div class="Div_Topico-right">
                <h2 class="Topico-right">Tópicos</h2>
                <ul class="Ul_Forum">
                    <div id="tooltip" class="tooltip"></div>
                    <li id="item1"
                        onmouseover="showTooltip('Os seletores ajudam os bots RPA a localizar e manipular elementos específicos na interface do usuário durante a automação. Eles são semelhantes aos seletores usados em linguagens como CSS (Cascading Style Sheets) ou XPath (XML Path Language) para selecionar elementos em páginas da web.')">
                        <a>O que são seletores em automação RPA ?</a>
                    </li>
                    <div id="tooltip" class="tooltip"></div>
                    <li id="item2"
                        onmouseover="showTooltip('Seletores em automação RPA são expressões que identificam elementos na interface do usuário. Para lidar com seletores dinâmicos (que mudam), use estratégias como wildcards, seletores relativos, atributos fixos, captura de vários elementos, atualização dinâmica de seletores, esperas dinâmicas e frameworks inteligentes. Essas abordagens garantem que os bots possam localizar e interagir com elementos mesmo quando a interface do usuário sofre alterações.')">
                        <a>Como você lida com seletores dinâmicos em automação RPA ?
                    </li></a>
                    <div id="tooltip" class="tooltip"></div>
                    <li id="item3"
                        onmouseover="showTooltip('XPath é uma linguagem usada para selecionar elementos em documentos XML, comum em automação RPA para localizar elementos em páginas web.')">
                        <a>O que é XPath e como você o usa em automação RPA ?
                    </li></a>
                    <div id="tooltip" class="tooltip"></div>
                    <li id="item"
                        onmouseover="showTooltip('Loops em automações RPA são usados para repetir um conjunto de instruções várias vezes. Eles são úteis para automatizar tarefas repetitivas e processar listas de dados. Um exemplo comum é o loop For Each, que percorre uma lista de itens, executando as mesmas ações para cada elemento')">
                        <a>Explique o uso de loops em automações RPA
                    </li></a>
                    <div id="tooltip" class="tooltip"></div>
                    <li id="item5"
                        onmouseover="showTooltip('Em automações RPA, o comando de espera (wait) é crucial para lidar com tempos de carregamento, processamento ou eventos assíncronos. É usado para pausar a execução do script até que uma condição específica seja atendida, como a carga completa de uma página ou a disponibilidade de um elemento. ')">
                        <a>Como você lida com a espera (wait) em automações RPA ?
                    </li></a>
                    <div id="tooltip" class="tooltip"></div>
                    <li id="item6"
                        onmouseover="showTooltip('Para organizar o código em automações RPA, divida-o em funções ou módulos, adicione comentários explicativos e use nomes de variáveis significativos. Mantenha padrões consistentes de nomenclatura, inclua tratamento de exceções e armazene configurações externas em arquivos separados.')">
                        <a>Como você estrutura e organiza seu código em automações RPA ?
                    </li></a>
                    <div id="tooltip" class="tooltip"></div>
                    <li id="item7"
                        onmouseover="showTooltip('Automação RPA unattended refere-se a processos automatizados que são executados sem intervenção humana direta, geralmente em ambientes de servidor ou máquinas virtuais. \r\n Automação RPA attended, por outro lado, envolve a interação direta entre o robô e o usuário. Os processos são iniciados manualmente pelos usuários quando necessário e podem envolver a assistência humana durante a execução.')">
                        <a>Explique a diferença entre automação RPA unattended e attended.
                    </li></a>
                    <br>
                    <br>
                </ul>
            </div>
        </div>

        <form id="formPesquisa">
            <input class="Pesquisar-topicos" type="text" id="texto" placeholder="Digite sua pesquisa">
            <input class="Botao_pesquisar-topicos" type="button" value="Pesquisar" id="Pesquisar">
            <button class="Botao_Publicar" id="Alterar" type="submit">Alterar</button>
            <button class="Botao_Publicar" id="Excluir" type="submit">Excluir</button>
        </form>

        <div id="divTabela">
            <table id="tabelaResultados" class="table">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Conteúdo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Os dados serão adicionados dinamicamente aqui -->
                </tbody>
            </table>
        </div>

    </div>
    <footer class="Footer"> </footer>

</body>

</html>
@section scripts {
    <script>
        $(document).ready(function () {
            carregarDados();
        });

        function carregarDados() {
            $.ajax({
                url: "Forum/PegarTodos",
                method: "GET",
                success: function (topicos) {
                    montarTabela(topicos);
                }
            });
        }

        $(".novatopico").click(function () {
            escolherTituloModal("Cadastro de novo topico");
            mostrarModal();
            limparFormulario();
            $('.topicoId').val(0);
        });


        $(".btnSalvar").click(function () {
            var topico = {
                topicoId: $('.topicoId').val(),
                titulo: $('.titulo').val(),
                idade: $('.idade').val()
            };

            if (validarFormulario(topico)) {

                if (parseInt(topico.topicoId) > 0)
                    atualizartopico(topico);

                criartopico(topico);
            }
        });

        function criartopico(topico) {
            $.ajax({
                url: "Forum/NovoTopico",
                method: 'POST',
                data: {
                    topico: topico
                },
                success: function (topicoCriado) {
                    $("#modal").modal('hide');
                    var linhaNovatopico = `<tr id="${topicoCriada.topicoId}">`;
                    linhaNovatopico += `<td>${topicoCriada.titulo}</td>`;
                    linhaNovatopico += `<td>${topicoCriada.conteudo}</td>`;
                    linhaNovatopico += `<td><button class="btn btn-sm btn-outline-info"
                                        onclick="pegartopicoPeloId(${topicoCriado.topicoId})">Atualizar</button> |
                                        <button class="btn btn-sm btn-outline-danger"
                                        onclick="excluirtopicoPeloId(${topicoCriado.topicoId})">Excluir</button></td>`;

                    linhaNovotopico += '</tr>';

                    $(".tabela tbody").append(linhaNovatopico);
                    limparFormulario();
                }
            });
        }

        function pegartopicoPeloId(topicoId) {
            $.ajax({
                url: "Forum/PegarTopicoPeloId",
                method: 'GET',
                data: {
                    topicoId: topicoId
                },
                success: function (topico) {
                    mostrarModal();
                    escolhertituloModal(`Atualizar Topico ${topico.titulo}`);
                    $(".autorId").val(topico.autorId);
                    $(".titulo").val(topico.titulo);
                    $(".conteudo").val(topico.conteudo);
                }
            })
        }


        function atualizartopico(topico) {
            $.ajax({
                url: "Forum/AtualizarTopico",
                method: 'POST',
                data: {
                    topico: topico
                },
                success: function (topicoAtualizado) {
                    $("#modal").modal('hide');
                    var linhaTabela = $(`#${topicoAtualizado.topicoId}`);
                    linhaTabela[0].childNodes[0].innerText = topicoAtualizado.titulo;
                    linhaTabela[0].childNodes[1].innerText = topicoAtualizado.conteudo;

                    limparFormulario();
                }
            });
        }

        function excluirtopico(topicoId) {
            $.ajax({
                url: "topicos/ExcluirTopico",
                method: 'POST',
                data: {
                    topicoId: topicoId
                },
                success: function (status) {
                    if (status) {
                        alert("topico excluída com sucesso");
                        document.getElementById(topicoId).remove();
                    }

                    else
                        alert(status.mensagem);
                }
            })
        }

        function montarTabela(topicos) {
            var indice = 0;
            var divTabela = document.getElementById("divTabela");
            var tabela = '<table class="table table-sm table-hover table-striped tabela">';
            tabela += '<thead>';
            tabela += '<tr>';
            tabela += '<th>titulo</th>';
            tabela += '<th>conteudo</th>';
            tabela += '<th>Profissão</th>';
            tabela += '<th>Ações</th>';
            tabela += '</tr>';
            tabela += '</thead>';
            tabela += '<tbody>';

            for (indice = 0; indice < topicos.length; indice++) {
                tabela += `<tr id="${topicos[indice].topicoId}">`;
                tabela += `<td>${topicos[indice].titulo}</td>`;
                tabela += `<td>${topicos[indice].conteudo}</td>`;
                tabela += `<td>${topicos[indice].profissao}</td>`;
                tabela += `<td><button class="btn btn-sm btn-outline-info" onclick="pegartopicoPeloId(${topicos[indice].topicoId})">Atualizar</button> |
                                            <button class="btn btn-sm btn-outline-danger" onclick="excluirtopico(${topicos[indice].topicoId})">Excluir</button></td>`;
                tabela += '</tr>';
            }

            tabela += '</tbody>';
            tabela += '</table>';

            divTabela.innerHTML = tabela;
        }

        function validarFormulario(topico) {
            let tituloValido = validartitulo(topico.titulo);
            let conteudoValido = validarconteudo(topico.conteudo);

            if (tituloValido == true && conteudoValido == true)
                return true;

            return false;
        }

        function validartitulo(titulo) {
            let tituloValido = true;

            if (titulo.trim() == '' || titulo == undefined) {
                $(".titulo").addClass('is-invalid');
                $(".errotitulo").text("Preencha o titulo");
                $(".errotitulo").removeClass("d-none");
                tituloValido = false;
            }
            else if (titulo.length > 20) {
                $(".titulo").addClass('is-invalid');
                $(".errotitulo").text("Use menos caracteres");
                $(".errotitulo").removeClass("d-none");
                tituloValido = false;
            }
            else {
                $(".titulo").removeClass('is-invalid');
                $(".titulo").addClass('is-valid');
                $(".errotitulo").addClass("d-none");
                tituloValido = true;
            }

            return tituloValido;
        }

        function validarconteudo(conteudo) {
            let conteudoValido = true;

            if (isNaN(conteudo) || conteudo == undefined || conteudo == '') {
                $(".conteudo").addClass('is-invalid');
                $(".erroconteudo").text("Preencha a conteudo");
                $(".erroconteudo").removeClass("d-none");
                conteudoValida = false;
            }

            else if (conteudo.length > 1000) {
                $(".conteudo").addClass('is-invalid');
                $(".errotitulo").text("Use menos caracteres");
                $(".errotitulo").removeClass("d-none");
                conteudoValido = false;
            }

            else {
                $(".conteudo").removeClass('is-invalid');
                $(".conteudo").addClass('is-valid');
                $(".erroconteudo").addClass("d-none");
                conteudoValida = true;
            }

            return conteudoValido;
        }

        function mostrarModal() {
            new bootstrap.Modal($("#modal"), {}).show();
        }

        function limparFormulario() {
            $(".titulo").val('');
            $(".titulo").removeClass('is-valid');
            $(".conteudo").val('');
            $(".conteudo").removeClass('is-valid');
        }

        function escolherTituloModal(texto) {
            $(".modal-title").text(texto);
        }
    </script>
}