@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>

<head>
  <title>Hand Crank</title>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
  <link rel="stylesheet" type="text/css" href="C:\xampp\htdocs\Projeto\entities\Views\css\Estilo.css">
  <link rel="stylesheet" type="text/css" href="C:\xampp\htdocs\Projeto\entities\Views\css\Slider-Main.css">
</head>

  <header>
    <div class="Header"></div>
  </header>
  <body class="Body_main">   
    <div class="div_Painel">
      <nav>
      <ul>
      <tr><img class="Img2" src="C:\xampp\htdocs\Projeto\entities\Views\imagens\img2.PNG" alt="Descrição da Imagem" class="main_img2"></tr>
      <tr><a class="Painel" href="C:\xampp\htdocs\Projeto\entities\Views\Forum\Plataforma.cshtml">Plataforma</a></tr>
      <tr><a class="Painel" href="C:\xampp\htdocs\Projeto\entities\Views\Forum\Solucao.cshtml">Solução</a></tr>
      <tr><a class="Painel" href="C:\xampp\htdocs\Projeto\entities\Views\Forum\Index.cshtml">Recursos</a></tr>
      <tr><a class="Painel" href="C:\xampp\htdocs\Projeto\entities\Views\Forum\Empresa.cshtml">Empresa</a></tr>
      <tr><img class="Search" src="C:\xampp\htdocs\Projeto\entities\Views\imagens\search.svg" alt="Search"></tr> <label class="Label" for="pesquisa">
        <input type="text" placeholder="pesquisa" name="pesquisa" required></label>
    </ul>
  </nav>
</div>
  <section class="slider">    
    <div class="slider-Content">

      <div><img class="main_Img4" src="C:\xampp\htdocs\Projeto\entities\Views\imagens\img4.png"></div>
      
      <input type="radio" name ="btn-radio" id="radio1">
      <input type="radio" name ="btn-radio" id="radio2">
      <input type="radio" name ="btn-radio" id="radio3">
      <input type="radio" name ="btn-radio" id="radio4">

      <div class="slide-Box primeiro">
        <img class=img src="C:\xampp\htdocs\Projeto\entities\Views\imagens\img5.png" alt="slide1">
      </div>

      <div class="slide-Box">
        <img class=img src="C:\xampp\htdocs\Projeto\entities\Views\imagens\img6.png" alt="slide2">
      </div>

      <div class="slide-Box"> 
        <img class=img src="C:\xampp\htdocs\Projeto\entities\Views\imagens\img7.png" alt="slide3"> 
      </div>

      <div class="slide-Box"> 
        <img class=img src="C:\xampp\htdocs\Projeto\entities\Views\imagens\img8.png"alt="slide4">
      </div>

      <div class="nav-Auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
        <div class="auto-btn4"></div>
      </div>

        <div class="nav-Manual">
          <label for="radio1" class="manual-Btn" disabled></label>
          <label for="radio2" class="manual-Btn"></label>
          <label for="radio3" class="manual-Btn"></label>
          <label for="radio4" class="manual-Btn"></label>
        </div>
      </div>
    </section>
  <footer class="Footer">
  <div class="icon-container">
    <img class="icon-email" src="C:\xampp\htdocs\Projeto\entities\Views\imagens\envelope-regular.svg" alt="Ícone de E-mail">
    <img class="icon-fone" src="C:\xampp\htdocs\Projeto\entities\Views\imagens\phone-solid.svg" alt="Ícone de E-mail">
  </div>
  </footer>
</body>
</html>

