section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    
}
.slider-Content {
    width: 350%;
    height: auto;
    display: flex;
}
.slider-Content input {
    display: none;
}
.slide-Box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 0.1s;
}
.slide-Box img {
    width: 100%;
}
.nav-Manual, .nav-Auto {
    position: absolute;
    width: 100%;
    margin-top: 42%;
    display: flex;
    left: 1035px;
}
.nav-Manual .manual-Btn:not(:last-child), .nav-Auto div:not(:last-child) {
    margin-right: 10px;
}
.nav-Manual .manual-Btn, .nav-Auto div {
    border: 1px solid rgb(0, 128, 255);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s;
}
.nav-Manual .manual-Btn:hover {

    background-color: rgb(0, 128, 255);
}
#radio1:checked ~ .nav-Auto .manual-Btn1, #radio2:checked ~ .nav-Auto .manual-Btn2, #radio3:checked ~ .nav-Auto .manual-Btn3{

    background-color:rgb(0, 128, 255) ;

}

#radio1:checked ~ .primeiro{

    margin-left: 9%;

}

#radio2:checked ~ .primeiro{

    margin-left: -17%;

}
#radio3:checked ~ .primeiro{

    margin-left: -42%;

}
#radio4:checked ~ .primeiro{
    margin-left: -67%;
}